.layout {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 50px; 
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Ajusta el color de fondo según tu diseño */
  padding: 10px;
}
.cursor-pointer{
  cursor: pointer;
}

.hover-dark:hover{
  background-color: #212529;
  padding: 3px;
}

/* 
!#####################################################################
?Spinner
!#####################################################################
*/

/* Loading */
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background: transparent;
    border: 3px solid rgba(0, 102, 255, 0.1);
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    font-family: sans-serif;
    font-size: 20px;
    color: #0066ff;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 0 0 10px #0066ff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
  }
  
  .loader::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid #0066ff;
    border-right: 3px solid #0066ff;
    border-radius: 50%;
    animation: animateC 2s linear infinite;
  }
  
  .loader span {
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: animate 2s linear infinite;
  }
  
  .loader span::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #00aeff;
    top: -6px;
    right: -8px;
    box-shadow: 0 0 20px 5px #0066ff;
  }
  
  @keyframes animateC {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate {
    0% {
      transform: rotate(45deg);
    }
  
    100% {
      transform: rotate(405deg);
    }
  }
/* 
!#####################################################################
?Page 404
!#####################################################################
*/

.background-page404 {
  padding: 0;
  margin: 0;
  background: #f0f0f0;
}

.img-page404 {
  display: block;
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 768px) {
  .img-page404 {
    margin-left: auto;
    margin-right: auto;
  }
}

.btn1 {
  text-align: center;
}
.text {
  text-align: center;
  font-size: 20px;
  margin-bottom: 40px;
}
.error-text {
  text-align: center;
  padding: 20px;
  font-family: Cursive;
}

.error {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 10px 50px;
  background: #064d6a;
  color: #fff;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: background 0.3s ease-in-out; /* Agregado para una transición suave */
}

.error:hover {
  background: #053448;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* Estilos para las estrellas */
.star {
  position: absolute;
  color: #baabab;
  opacity: 0;
  font-size: 1rem; /* Ajusta según tus preferencias */
  transition: opacity 0.3s ease-in-out; /* Agregado para una transición suave */
}

.error:hover .star {
  opacity: 1;
}

.star:nth-child(1) {
  top: 50%;
  left: 20%;
}

.star:nth-child(2) {
  top: 10%;
  left: 10%;
}

.star:nth-child(3) {
  top: 40%;
  left: 90%;
}

.star:nth-child(4) {
  top: 70%;
  left: 40%;
}

.star:nth-child(5) {
  top: 10%;
  left: 90%;
}

.star:nth-child(5) {
  top: 5%;
  left: 50%;
}

/* 
!#####################################################################
?Scroll Bar
!#####################################################################
*/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: #f5f5f5;
  scrollbar-width: thin; /* Grosor del scrollbar */
  scrollbar-color: #c0c0c0 #f0f0f0; /* Color del thumb y del track del scrollbar */
}
::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Color del track del scrollbar */
  border-radius: 0.5rem; /* Bordes redondeados del track */
}
::-webkit-scrollbar-thumb {
  border-radius: 0.1rem;
  background-image: linear-gradient(to bottom, #072757, #f0f0f0);
}

/* 
!#####################################################################
?Notificaciones
!#####################################################################
*/
.bell-container{
  position: relative;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.bell-counter{
  position: absolute;
  top: 0;
  left: 25px;
}

/* 
!#####################################################################
?Perfil
!#####################################################################
*/

.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}


/* 
!#####################################################################
?Login
!#####################################################################
*/
.gradient-custom-2 {
  background: #000000;
  background-image: url("../../assets/Image/patron.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}
.bg-imagen{
  background-image: url("../../assets/Image/fondo-login2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.texto{
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}